<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Приветб меня зовут {{ name }}</h1>
    <img src="{{ url_for('static', filename='image/foto.jpg') }}" alt="Моё фото" width="300">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Dolor, dolorem doloribus dolorum earum et eum fuga fugiat maxime minus molestias
        nobis nulla numquam perspiciatis quaerat quibusdam repellendus tenetur voluptate! Adipisci animi beatae,
        blanditiis, debitis distinctio fugit illum in ipsam, labore modi necessitatibus omnis optio
        praesentium quibusdam quis rem unde voluptas.</p>
    <p>Все права защищены</p>
</body>
</html>