<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<a href="http://127.0.0.1:5000/main/">main</a>
<p class="text-body text-justify">Lorem ipsum dolor sit amet,
    consectetur adipisicing elit.
    Dolorem laborum odit porro possimus!
    Accusantium alias amet aspernatur assumenda beatae blanditiis cupiditate,
    deserunt dolorem doloremque dolorum facere fuga id incidunt inventore labore
    minima neque odio porro possimus praesentium quae quasi quisquam reiciendis
    saepe sapiente sed similique sit totam unde voluptatibus. Nulla.</p>
<p class="alert-dark">Все права защищены</p>
</body>
</html>
